services:

  app:
    image: akaroshaa/my_expenses_app:1.0
    container_name: app
    env_file: ./.env
    volumes:
      - static_volume:/app/src/staticfiles
    command: >
      gunicorn project.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --timeout 120
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=my_expense_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d my_expense_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=abc@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - 5050:80
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/src/staticfiles
    depends_on:
      - app

volumes:
  static_volume:
  postgres_data: