version: '3'

services:

  app:
    image: akaroshaa/my_expenses_app:1.0
    container_name: app
    env_file: ./.env
    command: >
      bash -c "cd src &&
      python manage.py wait_for_db &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    ports:
      - 8000:8000
    depends_on:
      - db

  db:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=my_expense_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=abc@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - 5050:80
    depends_on:
      - db

volumes:
  postgres_data: